<div class="center jumbotron">
  <h1>Libros Recomendados</h1>
  <p>
    <ul>
      <li><strong>American Gods</strong>: (Cómo dioses Nórdicos viven hoy en día pero olvidados)</li>
      <li><strong>Los últimos tres minutos</strong> <i> Paul Davis</i></li>
      <li><strong>El quinto planeta</strong> <i> Marius ...</i></li>
      <li><strong>La cuestion de los alienigenas ancestrales</strong></li>
      <li><strong>La Iglesia y sus demonios</strong> <i> Karmen Porter</i></li>
      <li><strong>Las fronteras de lo imposible</strong> <i> Iker Jimenez</i></li>
      <li><strong>Encuentro en Montana Roja</strong> <i> J.J. Benitez</i></li>

    </ul>
    <p>https://gomockingbird.com/</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lt btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
  'http://rubyonrails.org/' %>
